<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Toollist</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/Footer-Basic.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Clean.css">
    <link rel="stylesheet" href="assets/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
        <div class="container"><a class="navbar-brand" href="#" style="font-size: 32px;">Toollist</a><button data-toggle="collapse" class="navbar-toggler" data-target="#"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item" role="presentation"></li>
                    <li class="nav-item" role="presentation"></li>
                </ul><span class="navbar-text" style="margin: 0px 10px;">{{user.name}}</span><span class="navbar-text actions"> <a class="btn btn-light action-button" role="button" href="login">Log Out</a></span></div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col"><button class="btn btn-primary" onclick="create_task(this)"><i class="fa fa-plus" style="padding: 10px;"></i>Add task</button></div>
        </div>
        <div class="row">{% for task in tasks %}
{% if task.doned %}
<div class="card bg-success shadow mb-4 text-center" style="margin: 10px;" id=card{{task.id}}>
{% else %}
<div class="card bg-light shadow mb-4 text-center" style="margin: 10px;" id=card{{task.id}}>
{% endif %}
    <div class="card-header d-flex justify-content-between align-items-center"><input type="text" placeholder="Task Name" value="{{task.title}}" style="padding: 0px 10px;margin: 0px 10px;font-size: 18px;" onblur="update_title(this)"/><button class="btn btn-danger" type="button" style="padding: 5px 10px;" onclick="delete_task(this)"><i class="fa fa-remove" style="padding: 2px;"></i></button>
    </div>
    <div class="card-body"><textarea class="form-control" rows="10" onblur="update_text(this)">{{task.text}}</textarea></div>
    <div class="card-footer center">
        {% if task.doned %}
        <a href="#" class="btn btn-warning" onclick="uncomplete_task(this)" >Uncomplete</a>
        {% else %}
        <a href="#" class="btn btn-success" onclick="complete_task(this)" >Complete</a>
        {% endif %}
</div>
</div>{% endfor %}</div>
    </div><script>
    {% include 'index_script.js' %}
</script>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>